.titlee{
    margin-top:0;
    padding-top:0;
    background-color: red;
    text-align:justify;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border:0cap;
}
nav{
    background-color: black;
    padding:20px;
    text-align: justify;
    justify-content:baseline;
}
nav a{
    text-decoration: none;
    color:white;
    float:left;
    margin-right:20px;
}
nav a:last-child{
    margin-right:0;
}
.boxdiv{
    width:300px;
    height:200px;
    border:2px solid grey;
    padding:20px;
    background-color: lightgray;
}
.spnbox{
    width:300px;
    height:100px;
    border:2px solid black;
}
#opt1,#opt2{
    width:90px;
    height:30px;
}
.pointspn{
    margin-left:1000px;
    padding:05px;
    border:2px solid black;
    color:brown;
}
.lvlspn{
    margin-left:1000px;
    padding:05px;
    border:2px solid black;
    color:red;
}
.hthspn{
    margin-left:1000px;
    padding:05px;
    border:2px solid black;
    color:red;
}